<div class="py-2">
	<button mat-raised-button color="accent" (click)="addNew()"><i class="fas fa-plus"></i> Thêm mới</button>
</div>

<app-mat-table [settings]="projectTableSetting" [dataSource]="projectTableDataSource" matSort></app-mat-table>
