<div class="d-flex align-items-center justify-content-center text-white">
	<i class="fas fa-check fa-lg px-2 w-15 text-center" *ngIf="data.type === 'success'"></i>
	<i class="fas fa-exclamation-triangle fa-lg w-15 text-center" *ngIf="data.type === 'error'"></i>
	<span class="d-flex justify-content-center flex-grow-1 w-85 text-center">{{ data.message }}</span>
</div>
