<div class="position-relative" *ngIf="tinyMceSettings">
	<div class="spinner-container" *ngIf="!(this._isInitWithDelay$ | async)">
		<mat-spinner [diameter]="75"></mat-spinner>
	</div>

	<ng-container>
		<editor
			[init]="tinyMceSettings"
			(onClick)="onClick()"
			(onBlur)="onBlur()"
			(onInit)="onInit($event)"
			[formControl]="ngControl.control"
		></editor>
	</ng-container>
</div>
