<!-- Nav bar -->
<nav class="navbar navbar-expand-md navbar-light" [ngClass]="navClass">
	<a class="navbar-brand d-flex justify-content-center align-items-center" [ngClass]="logoClass" [routerLink]="['/']">
		<i class="fas fa-home fa-3x"></i>
		<h4 class="m-3 d-none d-sm-block">Căn Hộ SG 24h</h4>
	</a>

	<div class="flex-grow-1"></div>

	<a class="nav-link d-block d-md-none hvr-icon-fade" href="tel:0909 078 566" (click)="(false)">
		<i class="fas fa-phone hvr-icon"></i> <span class="ml-2">0909 078 566</span>
	</a>

	<button
		class="navbar-toggler bg-white"
		type="button"
		data-toggle="collapse"
		data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent"
		aria-expanded="false"
		aria-label="Toggle navigation"
	>
		<i class="fas fa-align-justify"></i>
	</button>

	<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
		<ul class="navbar-nav">
			<li class="nav-item d-sm-none d-md-block">
				<a class="nav-link hvr-icon-fade" href="tel:0909 078 566" (click)="(false)">
					<i class="fas fa-phone hvr-icon"></i> <span class="ml-2">0909 078 566</span>
				</a>
			</li>

			<li class="nav-item dropdown ml-2">
				<span dropdown>
					<a
						class="nav-link dropdown-toggle"
						id="navbarDropdown"
						role="button"
						data-toggle="dropdown"
						aria-haspopup="true"
						aria-expanded="false"
						dropdownToggle
						(click)="(false)"
						href
					>
						Dự án
					</a>
					<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown" *dropdownMenu>
						<li class="dropdown-item">Disabled</li>
					</ul>
				</span>
			</li>

			<li class="nav-item dropdown ml-2">
				<span dropdown>
					<a
						class="nav-link dropdown-toggle"
						id="navbarDropdown"
						role="button"
						data-toggle="dropdown"
						aria-haspopup="true"
						aria-expanded="false"
						dropdownToggle
						(click)="(false)"
						href
					>
						Thông tin
					</a>
					<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown" *dropdownMenu>
						<li class="dropdown-item">Disabled</li>
					</ul>
				</span>
			</li>
		</ul>
	</div>
</nav>
<!-- End Nav Bar -->
