@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.navbar {
	@include media-breakpoint-up(md) {
		padding-left: 2rem;
		padding-right: 2rem;
	}

	.nav-link {
		color: black !important;
	}

	&:not(.sub-header) {
		.nav-link {
			color: white !important;
		}
	}
}
