<div class="picture-container">
	<h1>Pictures</h1>
	<form [formGroup]="pictureForm">
		<mat-form-field>
			<mat-select placeholder="Dự án" [formControlName]="'projectId'">
				<mat-option>--</mat-option>
				<ng-template [ngFor] [ngForOf]="(pictureService.projects$ | async).items" let-item="">
					<mat-option [value]="item.value"> {{ item.description }} </mat-option>
				</ng-template>
			</mat-select>
			<mat-error [formControlName]="'projectId'" [translate]="{ fieldName: 'Dự án' }"></mat-error>
		</mat-form-field>

		<!-- matInput not supported File input -->
		<!-- https://material.angular.io/components/input/overview#supported-code-lt-input-gt-code-types -->
		<!--
			<mat-form-field>
				<input type="file" (change)="onFileUploadChange($event)" accept=".jpg,.png" multiple matInput />
				<div class="spinner-container" *ngIf="loading"><mat-spinner [diameter]="75"></mat-spinner></div>
			</mat-form-field>
		-->
		<div>
			<input type="file" (change)="onFileUploadChange($event)" accept=".jpg,.png" multiple />
			<div class="spinner-container" *ngIf="loading"><mat-spinner [diameter]="75"></mat-spinner></div>
		</div>
	</form>
		<button (click)="onUpload()">Upload</button>
	
</div>
