<mat-toolbar color="primary">
	<i class="fas fa-home fa-lg sidenav-icon"></i>
	<h4 class="sidenav-title sidenav-main-title">CanHoSG24h</h4>
</mat-toolbar>

<mat-accordion displayMode="flat">
	<div class="sidenav-group-title font-weight-light">
		<small class="sidenav-group-title-mini">CĐT</small> <small class="sidenav-group-title-main">CHỦ ĐẦU TƯ</small>
	</div>

	<mat-expansion-panel [disabled]="true">
		<mat-expansion-panel-header
			matRipple
			collapsedHeight="{{matPanelHeaderHeight}}"
			expandedHeight="{{matPanelHeaderHeight}}"
			[routerLink]="['/chu-dau-tu']"
			[routerLinkActive]="'active'"
			[routerLinkActiveOptions]="{ exact: true }"
		>
			<i class="fas fa-clipboard-list"></i> <span class="sidenav-title"> Danh sách chủ đầu tư </span>
		</mat-expansion-panel-header>
	</mat-expansion-panel>

	<mat-expansion-panel [disabled]="true" *ngIf="isMatchRoute('chu-dau-tu/:id')">
		<mat-expansion-panel-header
			matRipple
			collapsedHeight="{{matPanelHeaderHeight}}"
			expandedHeight="{{matPanelHeaderHeight}}"
			[routerLink]="[router.url]"
			[routerLinkActive]="'active'"
			[routerLinkActiveOptions]="{ exact: true }"
		>
			<i class="fas fa-hand-holding-usd"></i> <span class="sidenav-title">Chủ đầu tư</span>
		</mat-expansion-panel-header>
	</mat-expansion-panel>

	<div class="sidenav-group-title font-weight-light">
		<small class="sidenav-group-title-mini">DA</small> <small class="sidenav-group-title-main">DỰ ÁN</small>
	</div>

	<mat-expansion-panel [disabled]="true">
		<mat-expansion-panel-header
			matRipple
			collapsedHeight="{{matPanelHeaderHeight}}"
			expandedHeight="{{matPanelHeaderHeight}}"
			[routerLink]="['/du-an']"
			[routerLinkActive]="'active'"
			[routerLinkActiveOptions]="{ exact: true }"
		>
			<i class="fas fa-city"></i> <span class="sidenav-title"> Danh sách dự án </span>
		</mat-expansion-panel-header>
	</mat-expansion-panel>

	<mat-expansion-panel [disabled]="true" *ngIf="isMatchRoute('du-an/:id')">
		<mat-expansion-panel-header
			matRipple
			collapsedHeight="{{matPanelHeaderHeight}}"
			expandedHeight="{{matPanelHeaderHeight}}"
			[routerLink]="[router.url]"
			[routerLinkActive]="'active'"
			[routerLinkActiveOptions]="{ exact: true }"
		>
			<i class="fas fa-home"></i> <span class="sidenav-title">Dự án</span>
		</mat-expansion-panel-header>
	</mat-expansion-panel>

	<div class="sidenav-group-title font-weight-light">
		<small class="sidenav-group-title-mini">HA</small> <small class="sidenav-group-title-main">HÌNH ẢNH</small>
	</div>

	<mat-expansion-panel [disabled]="true">
		<mat-expansion-panel-header
			matRipple
			collapsedHeight="{{matPanelHeaderHeight}}"
			expandedHeight="{{matPanelHeaderHeight}}"
			[routerLink]="['/hinh-anh']"
			[routerLinkActive]="'active'"
			[routerLinkActiveOptions]="{ exact: true }"
		>
			<i class="far fa-images"></i> <span class="sidenav-title"> Danh sách Hình Ảnh </span>
		</mat-expansion-panel-header>
	</mat-expansion-panel>

	<!--
		<div class="sidenav-group-title font-weight-light">
			<small class="sidenav-group-title-mini">ST</small> <small class="sidenav-group-title-main">SETTINGS</small>
		</div>

		<mat-expansion-panel>
			<mat-expansion-panel-header
				matRipple
				collapsedHeight="{{matPanelHeaderHeight}}"
				expandedHeight="{{matPanelHeaderHeight}}"
			>
				<i class="fas fa-cog"></i> <span class="sidenav-title">General</span>
			</mat-expansion-panel-header>

			<mat-list>
				<mat-list-item> <i class="fas fa-app"></i> <span class="sidenav-title">Application</span> </mat-list-item>
				<mat-list-item> <i class="fas fa-user"></i> <span class="sidenav-title">User</span> </mat-list-item>
			</mat-list>
		</mat-expansion-panel>
	-->
</mat-accordion>
