@import '~@angular/material/theming';
@import 'theme';

.card-header-bg {
	background-color: mat-color($admin-app-primary);
}

::ng-deep admin-app-project .hm-500 {
	> * {
		height: 90%;
		min-height: 600px;
	}
}
