<mat-card>
	<mat-card-header>
		<mat-card-title>{{ title }}</mat-card-title>
	</mat-card-header>
	<mat-card-content>
		<mat-tab-group animationDuration="0ms" [(selectedIndex)]="selectedIndex">
			<!-- Need to use lazy load -->
			<!-- https://material.angular.io/components/tabs/overview#lazy-loading -->

			<mat-tab>
				<ng-template mat-tab-label>
					<span [ngClass]="{ 'text-danger': (projDtFtSv.tabErrorState$ | async).projectDetails }">
						Thông tin chi tiết
					</span>
				</ng-template>
				<ng-template matTabContent>
					<admin-app-project-details
						[formGroup]="projectForm.get('projectDetails')"
					></admin-app-project-details>
				</ng-template>
			</mat-tab>

			<mat-tab>
				<ng-template mat-tab-label>
					<span [ngClass]="{ 'text-danger': (projDtFtSv.tabErrorState$ | async).projectIntroduction }">
						Giới thiệu
					</span>
				</ng-template>
				<ng-template matTabContent>
					<admin-app-project-introduction
						class="hm-500"
						[formGroup]="projectForm.get('projectIntroduction')"
					></admin-app-project-introduction>
				</ng-template>
			</mat-tab>
			<mat-tab>
				<ng-template mat-tab-label>
					<span [ngClass]="{ 'text-danger': (projDtFtSv.tabErrorState$ | async).projectInsideUtilities }">
						Tiện ích nội khu
					</span>
				</ng-template>
				<ng-template matTabContent>
					<admin-app-project-inside-utilities
						class="hm-500"
						[formGroup]="projectForm.get('projectInsideUtilities')"
					></admin-app-project-inside-utilities>
				</ng-template>
			</mat-tab>

			<mat-tab>
				<ng-template mat-tab-label>
					<span [ngClass]="{ 'text-danger': (projDtFtSv.tabErrorState$ | async).projectOutsideUtilities }">
						Tiện ích ngoại khu
					</span>
				</ng-template>
				<ng-template matTabContent>
					<admin-app-project-outside-utilities
						class="hm-500"
						[formGroup]="projectForm.get('projectOutsideUtilities')"
					></admin-app-project-outside-utilities>
				</ng-template>
			</mat-tab>

			<mat-tab>
				<ng-template mat-tab-label>
					<span [ngClass]="{ 'text-danger': (projDtFtSv.tabErrorState$ | async).projectDesign }">
						Thiết kế
					</span>
				</ng-template>
				<ng-template matTabContent>
					<admin-app-project-design
						class="hm-500"
						[formGroup]="projectForm.get('projectDesign')"
					></admin-app-project-design>
				</ng-template>
			</mat-tab>

			<mat-tab>
				<ng-template mat-tab-label>
					<span [ngClass]="{ 'text-danger': (projDtFtSv.tabErrorState$ | async).projectAppendix }">
						Phụ lục
					</span>
				</ng-template>
				<ng-template matTabContent>
					<admin-app-project-appendix
						class="hm-500"
						[formGroup]="projectForm.get('projectAppendix')"
					></admin-app-project-appendix>
				</ng-template>
			</mat-tab>

			<mat-tab>
				<ng-template mat-tab-label>
					<span [ngClass]="{ 'text-danger': (projDtFtSv.tabErrorState$ | async).projectPreferential }">
						Ưu đãi
					</span>
				</ng-template>
				<ng-template matTabContent>
					<admin-app-project-preferential
						class="hm-500"
						[formGroup]="projectForm.get('projectPreferential')"
					></admin-app-project-preferential>
				</ng-template>
			</mat-tab>

			<mat-tab>
				<ng-template mat-tab-label>
					<span [ngClass]="{ 'text-danger': (projDtFtSv.tabErrorState$ | async).projectLocation }">
						Vị trí dự án
					</span>
				</ng-template>
				<ng-template matTabContent>
					<admin-app-project-location
						class="hm-500"
						[formGroup]="projectForm.get('projectLocation')"
					></admin-app-project-location>
				</ng-template>
			</mat-tab>
		</mat-tab-group>
	</mat-card-content>
	<mat-card-actions>
		<div class="container-fluid d-flex justify-content-end">
			<button mat-raised-button color="primary" (click)="saveProjectDetails()">Lưu</button>
		</div>
	</mat-card-actions>
</mat-card>
