@import '../../../styles/variables';

.sale-info {
	border: 1px solid $gray;
	position: sticky;
	top: 65px;
}

.user-owner-list {
	background: #f3f4f7;
	border-radius: 2px;
	padding: 10px 20px 5px 20px;
	p {
		color: #838383;
	}
	.ava-user {
		width: 52px;
		border-radius: 50%;
		padding: 5px;
	}
	.name-us {
		font-size: 16px;
		font-weight: 600;
		margin-top: 5px;
	}
}

.sale-contact {
	padding: 20px;
	a {
		width: 100%;
		border-radius: 0;
		padding: 14px 0;
		text-align: center;
	}
}
