<div class="sale-info d-none d-md-block">
	<div class="user-owner-list text-center">
		<img
			class="ava-user"
			src="https://lh4.googleusercontent.com/-Y8oMRzOXff0/AAAAAAAAAAI/AAAAAAAAAVw/ws_G4oAMbl0/s96-c/photo.jpg"
			alt="MS.HƯỜNG"
			title="MS.HƯỜNG"
		/>
		<div class="name-us">MS.HƯỜNG</div>
	</div>
	<div class="sale-contact">
		<form>
			<a class="btn btn-danger" href="tel:0909 078 566">
				<i class="fas fa-phone fa-flip-horizontal"></i> 0909 078 566 (ZALO/VIBER)
			</a>
		</form>
	</div>

	<div class="text-center">Hoặc</div>
	<div class="sale-contact">
		<form><a class="btn btn-outline-dark" (click)="openModal()"> Hỏi thêm thông tin </a></form>
	</div>
</div>
