<div class="card hvr-float w-100 h-100" [routerLink]="['/du-an', project.uid]">
	<div class="position-relative">
		<div class="good-price" *ngIf="project.isGoodPrice">GIÁ TỐT</div>

		<ng-container [ngSwitch]="project.statusId">
			<div class="project-status-comming-soon" *ngSwitchCase="ProjectStatus.ComingSoon">Sắp mở bán</div>

			<div class="project-status-comming-soon" *ngSwitchCase="ProjectStatus.Opened">Đang mở bán</div>

			<div class="project-status-closed" *ngSwitchCase="ProjectStatus.Closed">Đã bàn giao</div>
		</ng-container>

		<div class="wrapper">
			<img
				class="card-img-top img-fluid"
				src="{{ getThumbnaiImage(project.displayImage.thumbnailName) }}"
				alt="Card image cap"
			/>
		</div>
	</div>

	<div class="card-body">
		<h6 class="card-title text-truncate mb-2" title="{{ project.name }}">{{ project.name }}</h6>

		<p class="card-text text-truncate text-secondary mb-2" title="{{ getAddress(project) }}">
			{{ getAddress(project) }}
		</p>

		<div class="card-text font-weight-bold">
			<!-- Missing bed room -->
			<!--
				<ng-container *ngIf="project.numberOfBedRoom != null">
					<i class="fas fa-bed mr-2"></i> <span class="mr-4">{{ project.numberOfBedRoom }}</span>
				</ng-container>
			-->

			<ng-container *ngIf="project.area != null">
				<i class="fas fa-chart-area mr-2"></i> <span class="mr-4">{{ project.area }}</span>
			</ng-container>

			<ng-container *ngIf="project.price != null">
				<span class="mr-4">Giá: {{ project.price }}</span>
			</ng-container>
		</div>
	</div>
</div>
