@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.card {
	cursor: pointer;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.good-price {
	position: absolute;
	background-color: #d20000b0;
	padding: 0.25rem;
	margin: 0.75rem;
	color: white;
	font-size: x-small;
}

/** https://stackoverflow.com/questions/47479477/responsive-card-image-with-fixed-height-in-bootstrap-4 */
.wrapper {
	position: relative;
	overflow: hidden;
	z-index: -1;
}

.wrapper:after {
	content: '';
	display: block;
	padding-top: 70%;
}

.wrapper img {
	object-fit: cover;
	width: auto;
	height: 100%;
	max-width: none;
	position: absolute;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
}

@mixin project-status($name, $color) {
	.project-status-#{$name} {
		position: absolute;
		background-color: $color;
		padding: 0.25rem;
		bottom: 0;
		color: white;
		width: 100%;
		text-align: center;
		font-size: small;
	}
}

@include project-status('comming-soon', #d20000b0);
@include project-status('closed', #111010b0);
