<div class="row project-list-item">
	<div class="col-xs-12 col-sm-6 px-0"><img src="assets/img/home/gem-riverside.jpg" class="w-100" /></div>
	<div class="col-xs-12 col-sm-6 px-0">
		<div class="p-4">
			<h4>SaFira Khang Điền</h4>
			<div class="my-4">
				<i class="fas fa-th-large"><span class="ml-2">4 block</span></i>
				<i class="fas fa-home ml-4"> <span class="ml-2">1,570 căn</span> </i>
			</div>
			<p>
				Sau thành công vang dội cả về bán hàng lẫn tiến độ thi công ở dự án căn hộ Jamila, Khang Điền tiếp tục
				triển khai dự án căn hộ thứ 2 của mình tại Quận 9, đó là SaFira Khang Điền. Dự án tọa lạc trên đường
				Vành Đai 2, Phường Phú Hữu, Quận 9, kết nối nhanh chóng với các quận trong thành phố, thuận tiện di
				chuyển về các tỉnh lân cận đồng thời hứa hẹn nhiều tiềm năng tăng giá
			</p>
			<a href (click)="(false)">Xem thêm</a>
		</div>
	</div>
</div>
