.project-header {
	width: 100%;
	padding: 0;
	overflow: hidden;
	display: block;
	.project-name {
		width: 100%;
		padding: 20px 0;
		overflow: hidden;
		display: block;
		font-size: 20px;
		.title-project {
			font-family: 'Tiempos', Arial, Helvetica, sans-serif;
			font-size: 30px;
			font-weight: 400;
			line-height: 40px;
			width: 100%;
			color: #303339;
			margin: 0;
		}
		h4 {
			font-size: 14px;
			font-weight: 400;
			display: inline-block;
			color: #8e9399;
			margin: 0;
		}
	}
}

.width1140 {
	max-width: 1140px;
	margin: 0 auto;
	position: relative;
	clear: both;
}

.background-gray {
	background-color: gray;
	height: 300px;
	border-right: solid 1px blue;
}

.my-app-custom-plain-container-row {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.my-app-custom-image-row {
	cursor: pointer;
	max-width: 100%;
	max-height: 100%;
}
