<section class="project-header width1140">
	<div class="project-name">
		<div class="col-md-12">
			<h1 class="title-project">{{ project.name }}</h1>
			<h4>{{ district }}</h4>
			<h4>> {{ project.address }}</h4>
		</div>
	</div>
</section>

<div style="width: 100%;">
	<div class="my-app-custom-plain-container-row row no-left-right-margin">
		<ng-container *ngFor="let img of images; let i = index">
			<div class="col-md-4 no-padding" *ngIf="i < 3">
				<img
					*ngIf="img.modal && img.modal.img"
					[ngClass]="{ 'd-none d-md-block': i >= 1 }"
					class="my-app-custom-image-row"
					src="{{img.modal.img}}"
					(click)="openImageModalRow(img)"
				/>
			</div>
		</ng-container>
	</div>
	<ks-modal-gallery [modalImages]="images" [plainGalleryConfig]="customPlainGalleryRowConfig"></ks-modal-gallery>
</div>
