.left-text {
	float: left;
}

.right-text {
	float: right;
}

.header-h2 {
	font-family: 'harmonia', Arial, Helvetica, sans-serif;
	padding: 0;
	font-size: 20px;
	font-weight: 500;
	position: relative;
	line-height: 30px;
	width: 100%;
	margin-bottom: 10px;
}

.place-viral {
	font-size: 14px;
	color: #acadb0;
	font-family: 'harmonia', Arial, Helvetica, sans-serif;
	font-weight: 400;
	display: inline-block;
}

p {
	font-size: 16px;
}

.no-left-right-margin {
	margin-right: 0 !important;
	margin-left: 0 !important;
}

.width-100 {
	width: 100%;
}

.no-padding {
	padding: 0 !important;
}

.margin-left-5 {
	margin-left: 5px !important;
}

.blog-detail img {
	width: 100% !important;
}

.project-detail-wrap {
	img {
		width: 100% !important;
	}
}
