﻿@model RealEstate.Models.CustomerRequestFormDto
<div class="container">
    <h2>Thông tin khách hàng:</h2>
    <div class="row">
        <div class="col-sm-6">
            <span>Họ: </span><span>@Model.Lastname</span>
        </div>
        <div class="col-sm-6">
            <span>Tên: </span><span>@Model.Firstname</span>
        </div>
        <div class="col-sm-12">
            <span>Email: </span><span>@Model.Email</span>
        </div>
        <div class="col-sm-12">
            <span>Số điện thoại: </span><span>@Model.Phone</span>
        </div>
        <div class="col-sm-12">
            <span>Lời nhắn: </span><span>@Model.Message</span>
        </div>
    </div>
</div>