<h1 mat-dialog-title>{{ data.title }}</h1>
<div mat-dialog-content>
	<p>{{ data.message }}</p>
</div>
<div mat-dialog-actions class="d-flex">
	<button mat-button color="warn" (click)="onNoClick()" cdkFocusInitial>Không</button>
	<div class="flex-fill"></div>
	<button mat-button color="primary" [mat-dialog-close]="true">Có</button>
</div>
