.width-750 {
	max-width: 750px;
}
div.row-fluid {
	background: #f3f5f8;

	.container {
		padding-top: 15px;
		padding-bottom: 45px;
	}
}

.blog-detail {
	margin-top: 20px;
}

.margin-top-15 {
	margin-top: 15px;
}
