<ng-container *ngIf="blog">
	<div class="row-fluid">
		<div class="container width-750">
			<div class="container-fluid">
				<h1 class="text-center">{{ blog.title }}</h1>
			</div>
		</div>
	</div>

	<div class="container width-750 margin-top-15">
		<div class="row">
			<div class="col-md-12">
				<img src="assets/img/no-avatar.png" style="width: 50px; height: 50px;" />

				<span> {{ blog.author }}</span> <span style="float: right">{{ blog.createDate }}</span>

				<div class="blog-detail" [innerHTML]="blog.detail | safeHtml"></div>
			</div>
		</div>
	</div>
</ng-container>
