<form [formGroup]="formGroup">
	<div class="container-fluid py-4">
		<div class="row py-2">
			<mat-form-field class="col-12 no-padding-bot">
				<admin-app-tinymce matInput placeholder="Thiết kế" [formControlName]="'design'" [focusOnInit]="true">
				</admin-app-tinymce>
				<mat-error [formControlName]="'design'" [translate]="{ fieldName: 'Thiết kế' }"></mat-error>
			</mat-form-field>
		</div>
	</div>
</form>
