.flex-unset {
	flex: unset;
}

.spinner-container {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	background: rgba(0, 0, 0, 0.15);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem;
	z-index: 1;
}

mat-form-field {
	&.no-padding-bot .mat-form-field-infix {
		padding-bottom: 0;
	}
}
