// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$admin-app-primary: mat-palette($mat-indigo);
$admin-app-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$admin-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$admin-app-theme: mat-light-theme($admin-app-primary, $admin-app-accent, $admin-app-warn);
