<div class="container mt-5">
	<div class="container-fluid"><h4>Dự án mới nổi bật</h4></div>

	<div class="d-flex justify-content-start flex-wrap">
		<ng-template ngFor let-project [ngForOf]="data">
			<client-app-card-item [project]="project" class="col-sm-12 col-md-6 col-xl-4 mt-4"></client-app-card-item>
		</ng-template>
	</div>
</div>

<div class="mt-5"></div>
