.empty-table {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 56px;
}

.spinner-container {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	background: rgba(0, 0, 0, 0.15);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem;
}

::ng-deep mat-header-cell {
	cursor: pointer;
}
