<div class="mat-elevation-z8 position-relative">
	<mat-table [dataSource]="dataSource">
		<ng-template ngFor [ngForOf]="_columnSettings" let-colSettings>
			<ng-container matColumnDef="{{colSettings.columnDef}}">
				<mat-header-cell *matHeaderCellDef mat-sort-header>{{ colSettings.header }}</mat-header-cell>
				<mat-cell *matCellDef="let data">{{ colSettings.cellData(data) }}</mat-cell>
			</ng-container>
		</ng-template>

		<ng-container matColumnDef="{{settings.actionColumnDef}}" *ngIf="settings.isHaveActionColumn">
			<mat-header-cell class="justify-content-center" *matHeaderCellDef></mat-header-cell>
			<mat-cell class="justify-content-center" *matCellDef="let data">
				<ng-template ngFor [ngForOf]="settings.actionButtons" let-setting>
					<button
						class="d-flex justify-content-center mx-1"
						color="{{setting.color}}"
						mat-raised-button
						(click)="setting.action(data)"
					>
						<i class="{{setting.iconCss}} mr-1"></i><span>{{ setting.name }}</span>
					</button>
				</ng-template>
			</mat-cell>
		</ng-container>

		<mat-header-row *matHeaderRowDef="_displayedColumns"></mat-header-row>
		<mat-row *matRowDef="let row; columns: _displayedColumns"></mat-row>
	</mat-table>

	<div class="spinner-container" *ngIf="(dataSource.loading$ | async)">
		<mat-spinner [diameter]="75"></mat-spinner>
	</div>

	<div class="empty-table" *ngIf="(dataSource.isEmpty$ | async)"><small>Không có dữ liệu</small></div>

	<mat-paginator
		[length]="dataSource.totalRecord"
		[pageSize]="10"
		[pageSizeOptions]="[5, 10, 15, 20]"
		[showFirstLastButtons]="true"
	></mat-paginator>
</div>
