<form [formGroup]="formGroup">
	<div class="container-fluid py-4">
		<div class="row py-2">
			<mat-form-field class="col-sm-6" showErrorMessage>
				<input matInput placeholder="Tên dự án" [formControlName]="'name'" />
				<mat-error [formControlName]="'name'" [translate]="{ fieldName: 'Tên dự án' }"></mat-error>
			</mat-form-field>

			<mat-form-field class="col-sm-6">
				<input matInput placeholder="Giá" [formControlName]="'price'" type="number" />
				<mat-error [formControlName]="'name'" [translate]="{ fieldName: 'Giá' }"></mat-error>
			</mat-form-field>
		</div>

		<div class="row py-2">
			<mat-form-field class="col-sm-6">
				<mat-select placeholder="Trạng thái" [formControlName]="'statusId'">
					<mat-option>--</mat-option>
					<ng-template [ngFor] [ngForOf]="(projDtFtSv.formData$ | async).projectStatuses" let-item="">
						<mat-option [value]="item.value"> {{ item.description }} </mat-option>
					</ng-template>
				</mat-select>
				<mat-error [formControlName]="'statusId'" [translate]="{ fieldName: 'Trạng thái' }"></mat-error>
			</mat-form-field>

			<mat-form-field class="col-sm-6">
				<mat-select placeholder="Chủ đầu tư" [formControlName]="'invesloperId'">
					<mat-option>--</mat-option>
					<ng-template [ngFor] [ngForOf]="(projDtFtSv.formData$ | async).projectInveslopers" let-item="">
						<mat-option [value]="item.value"> {{ item.description }} </mat-option>
					</ng-template>
				</mat-select>
				<mat-error [formControlName]="'invesloperId'" [translate]="{ fieldName: 'Chủ đầu tư' }"></mat-error>
			</mat-form-field>
		</div>

		<div class="row py-2">
			<mat-form-field class="col-sm-6">
				<mat-select placeholder="Loại hình" [formControlName]="'type'">
					<mat-option>--</mat-option>
					<ng-template [ngFor] [ngForOf]="(projDtFtSv.formData$ | async).projectTypes" let-item="">
						<mat-option [value]="item.value"> {{ item.description }} </mat-option>
					</ng-template>
				</mat-select>
				<mat-error [formControlName]="'type'" [translate]="{ fieldName: 'Loại hình' }"></mat-error>
			</mat-form-field>

			<mat-form-field class="col-sm-6">
				<input matInput placeholder="Số block" [formControlName]="'block'" type="number" />
				<mat-error [formControlName]="'block'" [translate]="{ fieldName: 'Số block' }"></mat-error>
			</mat-form-field>
		</div>

		<div class="row py-2">
			<mat-form-field class="col-sm-6">
				<input matInput placeholder="Số tầng" [formControlName]="'floor'" />
				<mat-error [formControlName]="'floor'" [translate]="{ fieldName: 'Số tầng' }"></mat-error>
			</mat-form-field>

			<mat-form-field class="col-sm-6">
				<input matInput placeholder="Số căn" [formControlName]="'unit'" type="number" />
				<mat-error [formControlName]="'unit'" [translate]="{ fieldName: 'Số căn' }"></mat-error>
			</mat-form-field>
		</div>

		<div class="row py-2">
			<mat-form-field class="col-sm-6">
				<input matInput placeholder="Số penthouse" [formControlName]="'penthouse'" />
				<mat-error [formControlName]="'penthouse'" [translate]="{ fieldName: 'Số penthouse' }"></mat-error>
			</mat-form-field>

			<mat-form-field class="col-sm-6">
				<input
					matInput
					placeholder="Mật đồ xây dựng (%)"
					[formControlName]="'densityOfBuilding'"
					type="number"
				/>
				<mat-error
					[formControlName]="'densityOfBuilding'"
					[translate]="{ fieldName: 'Mật đồ xây dựng' }"
				></mat-error>
			</mat-form-field>
		</div>

		<div class="row py-2">
			<mat-form-field class="col-sm-6">
				<input matInput placeholder="Diện tích" [formControlName]="'area'" />
				<mat-error [formControlName]="'area'" [translate]="{ fieldName: 'Diện tích' }"></mat-error>
			</mat-form-field>

			<mat-form-field class="col-sm-6">
				<input
					matInput
					[matDatepicker]="startDate"
					placeholder="Thời gian xây dựng"
					[formControlName]="'startDate'"
				/>
				<mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
				<mat-datepicker #startDate disabled="false"></mat-datepicker>
				<mat-error
					[formControlName]="'startDate'"
					[translate]="{ fieldName: 'Thời gian xây dựng' }"
				></mat-error>
			</mat-form-field>
		</div>

		<div class="row py-2">
			<mat-form-field class="col-sm-6">
				<input
					matInput
					[matDatepicker]="handoverDate"
					placeholder="Thời gian bàn giao"
					[formControlName]="'handoverDate'"
				/>
				<mat-datepicker-toggle matSuffix [for]="handoverDate"></mat-datepicker-toggle>
				<mat-datepicker #handoverDate disabled="false"></mat-datepicker>
				<mat-error
					[formControlName]="'handoverDate'"
					[translate]="{ fieldName: 'Thời gian bàn giao' }"
				></mat-error>
			</mat-form-field>

			<mat-form-field class="col-sm-6">
				<mat-select placeholder="Tỉnh/Thành phố" [formControlName]="'city'">
					<mat-option>--</mat-option>
					<ng-template [ngFor] [ngForOf]="appFtSv.cities$ | async" let-item="">
						<mat-option [value]="item.value"> {{ item.description }} </mat-option>
					</ng-template>
				</mat-select>
				<mat-error [formControlName]="'city'" [translate]="{ fieldName: 'Thành phố' }"></mat-error>
			</mat-form-field>
		</div>

		<div class="row py-2">
			<mat-form-field class="col-sm-6">
				<mat-select placeholder="Quận/Huyện" [formControlName]="'district'">
					<mat-option>--</mat-option>
					<ng-template [ngFor] [ngForOf]="appFtSv.districts$ | async" let-item="">
						<mat-option [value]="item.value"> {{ item.description }} </mat-option>
					</ng-template>
				</mat-select>
				<mat-error [formControlName]="'district'" [translate]="{ fieldName: 'Quận/Huyện' }"></mat-error>
			</mat-form-field>

			<mat-form-field class="col-sm-6">
				<input matInput placeholder="Địa chỉ" [formControlName]="'address'" />
				<mat-error [formControlName]="'address'" [translate]="{ fieldName: 'Địa chỉ' }"></mat-error>
			</mat-form-field>
		</div>

		<div class="row py-2">
			<mat-form-field class="col-sm-6">
				<mat-select placeholder="Hình ảnh" [formControlName]="'displayImageId'">
					<mat-option>Xóa</mat-option>
					<ng-template [ngFor] [ngForOf]="(projDtFtSv.formData$ | async).projectImages" let-item="">
						<mat-option [value]="item.value" class="select-image">
							<img src="{{ getThumbnaiImage(item.description) }}" height="100" />
						</mat-option>
					</ng-template>
					<mat-select-trigger class="d-flex justify-content-center">
						<img src="{{ getSelectedThumbnaiImage() }}" height="100" />
					</mat-select-trigger>
				</mat-select>
				<mat-error [formControlName]="'displayImageId'" [translate]="{ fieldName: 'Thành phố' }"></mat-error>
			</mat-form-field>

			<div class="col-sm-6 d-flex align-items-center">
				<mat-checkbox [formControlName]="'isGoodPrice'"> Giá tốt </mat-checkbox>
			</div>
		</div>
	</div>
</form>
