<form [formGroup]="formGroup">
	<div class="container-fluid py-4">
		<div class="row">
			<mat-form-field class="col-12">
				<input matInput placeholder="Tìm kiếm" type="text" #searchBox />
			</mat-form-field>
		</div>

		<agm-map
			class="map-height"
			[latitude]="latitude"
			[longitude]="longitude"
			[zoom]="zoom"
			[disableDefaultUI]="true"
			[zoomControl]="true"
			(mapClick)="mapClicked($event)"
		>
			<agm-marker *ngIf="marker" [latitude]="marker.lat" [longitude]="marker.lng" [label]="marker.label">
			</agm-marker>
		</agm-map>
	</div>

	<div class="container-fluid py-4">
		<div class="row py-2">
			<mat-form-field class="col-12 no-padding-bot">
				<admin-app-tinymce
					matInput
					placeholder="Mô tả vị trí"
					[formControlName]="'locationDescription'"
					[focusOnInit]="false"
				>
				</admin-app-tinymce>
				<mat-error [formControlName]="'locationDescription'" [translate]="{ fieldName: 'Vị trí' }"></mat-error>
			</mat-form-field>
		</div>
	</div>
</form>
