@import '~@angular/material/theming';
@import 'theme';
@import 'mixin';

@mixin sidenav {
	.sidenav {
		width: $sidenav-width;
		background-color: $sidenav-background-color;
		overflow: hidden;

		@include unSelectable;
		@include transition($property: width);
	}

	.mat-drawer-side {
		border: none;
	}

	::ng-deep .mat-drawer-inner-container {
		overflow: unset;
	}

	// width mini sidenav when not hover and not handset
	&.sidenav-mini:not(.sidenav-handset) {
		// there is a bug some time css hover state lost that make sidenav collapse even though mouse
		// still hover  => use .hover + script
		.sidenav:not(.hover) {
			width: $sidenav-width-mini;
		}
	}
}

@mixin sidenav-content {
	.sidenav-content {
		margin-left: $sidenav-width !important;
		@include transition($property: margin-left);
	}

	// Sidenav mini
	&.sidenav-mini:not(.sidenav-handset) .sidenav-content {
		margin-left: $sidenav-width-mini !important;
	}

	// Handset
	&.sidenav-handset .sidenav-content {
		margin-left: 0 !important;
		transition: none;
	}
}

.mat-sidenav-container {
	height: 100vh;

	.main-container {
		height: auto;
		@include property-with-main-height-size($property: min-height);
	}

	@include sidenav;
	@include sidenav-content;
}

.over-lay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem;
	z-index: 2;
}
