<ng-progress></ng-progress>

<mat-sidenav-container
	#matSidenavContainer
	[ngClass]="{ 'sidenav-mini': layoutService.isSideNavMini$ | async }"
	*ngIf="(authService.isLoggedIn$ | async); else: unAuthorizedLayout"
>
	<!-- Side Navigation -->
	<mat-sidenav
		class="sidenav"
		fixedInViewport="true"
		[mode]="(layoutService.isHandset$ | async) ? 'over' : 'side'"
		[opened]="!(layoutService.isHandset$ | async)"
		adminAppSidenavHover
		#sideNav
	>
		<admin-app-side-navigation></admin-app-side-navigation>
	</mat-sidenav>

	<!-- Container -->
	<mat-sidenav-content class="sidenav-content">
		<!-- Header -->
		<admin-app-header></admin-app-header>

		<!-- Main content -->
		<div class="position-relative">
			<div class="over-lay" *ngIf="(httpProgressState.isLoading$ | async)"></div>
			<div class="container-fluid main-container py-3">
				<ng-container [ngTemplateOutlet]="ngContent"></ng-container>
			</div>
		</div>

		<!-- Footer -->
		<admin-app-footer></admin-app-footer>
	</mat-sidenav-content>
</mat-sidenav-container>

<ng-template #unAuthorizedLayout> <ng-container [ngTemplateOutlet]="ngContent"></ng-container> </ng-template>

<ng-template #ngContent> <ng-content></ng-content> </ng-template>
