<div class="container h-100" *ngIf="!(authService.isLoggedIn$ | async)">
	<form (ngSubmit)="login()" class="d-flex justify-content-center align-items-center h-100">
		<mat-card class="w-40">
			<mat-card-header class="d-flex justify-content-center text-center">
				<mat-card-title class="login-title">Đăng nhập</mat-card-title>
				<mat-card-subtitle>Admin canhosg4h.net</mat-card-subtitle>
			</mat-card-header>
			<mat-card-content>
				<div class="container-fluid">
					<div class="row">
						<div class="col-12">
							<mat-form-field>
								<input
									matInput
									placeholder="Tên đăng nhập"
									required
									name="userName"
									[(ngModel)]="loginFormModel.userName"
								/>
							</mat-form-field>
						</div>
					</div>

					<div class="row">
						<div class="col-12">
							<mat-form-field>
								<input
									matInput
									type="password"
									placeholder="Mật khẩu"
									name="password"
									required
									[(ngModel)]="loginFormModel.password"
								/>
							</mat-form-field>
						</div>
					</div>
				</div>
			</mat-card-content>
			<mat-card-actions>
				<div class="container-fluid d-flex justify-content-end">
					<button mat-raised-button color="primary">Login</button>
				</div>
			</mat-card-actions>
		</mat-card>
	</form>
</div>
