// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

@import 'theme';
@import 'variables';

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($admin-app-theme);

/* You can add global styles to this file, and also import other style files */
// Import Bootstrap Reboot
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/utilities';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~hover.css/scss/hover';
@import 'reset';
@import 'common';

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.snackbar-message-success {
	background-color: mat-color($mat-green, 600);
}

.snackbar-message-error {
	background-color: mat-color($mat-red, 600);
}
