@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

footer {
	width: 100%;
	background-color: lighten(black, 10%);

	.social-icons {
		a {
			color: white;
			margin-right: 2rem;

			@include media-breakpoint-down(xs) {
				margin-right: 4vw;
			}
		}
	}

	@include media-breakpoint-down(xs) {
		font-size: 3vw;

		h6 {
			font-size: 3vw;
		}

		.fa-3x {
			font-size: 10vw;
		}
	}
}
