<footer class="mt-4">
	<div class="container text-white">
		<div class="container-fluid">
			<div class="d-flex justify-content-between align-items-center flex-wrap py-4">
				<div class="d-flex align-items-center w-50">
					<a class="navbar-brand" [routerLink]="['/']"> <i class="fas fa-home fa-3x text-white"></i> </a>

					<div class="d-flex align-items-start flex-column">
						<span>Căn hộ SG 24h</span>

						<div class="mt-2 social-icons">
							<a href (click)="(false)"> <i class="fab fa-facebook fa-lg"></i> </a>
							<a href (click)="(false)"> <i class="fab fa-twitter-square fa-lg"></i> </a>
							<a href (click)="(false)"> <i class="fab fa-linkedin fa-lg"></i> </a>
						</div>
					</div>
				</div>

				<div class="d-flex align-items-center justify-content-end flex-wrap w-50">
					<div class="hvr-icon-fade col-lg-12 col-xl-6 px-lg-0">
						<div class="d-flex flex-column align-items-end align-items-lg-between">
							<small>
								<i class="fas fa-phone hvr-icon m-auto"></i> <span class="ml-2">Hotline (24/7)</span>
							</small>
							<h6 class="text-info"><a href="tel:0909 078 566">0909 078 566</a></h6>
						</div>
					</div>

					<div class="hvr-icon-fade mr-0 col-lg-12 col-xl-6 px-lg-0">
						<div class="d-flex flex-column align-items-end align-items-lg-between">
							<small>
								<i class="far fa-envelope hvr-icon m-auto"></i>
								<span class="ml-2">Chăm sóc khách hàng</span>
							</small>
							<h6 class="text-info">huong.pham@ilandvietnam.vn</h6>
						</div>
					</div>
				</div>
			</div>

			<div class="d-flex justify-content-center align-items-center pb-3 text-white">
				<small>Copyright © 2018. All Rights Reserved.</small>
			</div>
		</div>
	</div>
</footer>
