<form [formGroup]="formGroup">
	<div class="container-fluid py-4">
		<div class="row py-2">
			<mat-form-field class="col-12 no-padding-bot">
				<admin-app-tinymce
					matInput
					placeholder="Tiện ích ngoại khu"
					[formControlName]="'outsideUtilities'"
					[focusOnInit]="true"
				>
				</admin-app-tinymce>
				<mat-error
					[formControlName]="'outsideUtilities'"
					[translate]="{ fieldName: 'Tiện ích ngoại khu' }"
				></mat-error>
			</mat-form-field>
		</div>
	</div>
</form>
