<mat-toolbar color="primary">
	<button type="button" mat-icon-button (click)="toggleSideNav()"><mat-icon>menu</mat-icon></button>
	<span class="px-2">{{ layoutService.title$ | async }}</span>

	<div class="flex-grow-1"></div>

	<button type="button" mat-button (click)="signOut()" class="sign-out-btn">
		<mat-icon fontSet="fas" fontIcon="fa-sign-out-alt" class="sign-out-icon"></mat-icon>
		<span class="ml-1">Đăng xuất</span>
	</button>
</mat-toolbar>
