@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

$header-height: 600px;
$header-nav-item-height: 86px;
$header-search-input-height: 55px;

.header-background-image {
	background-image: url('~/assets/img/header-background.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: $header-height;
}

.header-search {
	height: calc(#{$header-height} - #{$header-nav-item-height} * 2);

	@include media-breakpoint-down(sm) {
		.header-search-title {
			font-size: 6vw;
		}
	}

	.input-group-text {
		width: $header-search-input-height;
	}

	.header-search-input {
		max-height: $header-search-input-height;

		input {
			height: $header-search-input-height;

			&:focus {
				box-shadow: none;
			}
		}
	}
}
