<header>
	<div class="header-background-image px-4">
		<client-app-header-navbar></client-app-header-navbar>

		<div class="header-search d-flex flex-column justify-content-center align-items-center text-white">
			<h1 class="header-search-title">Tìm kiếm ngôi nhà bạn yêu thích</h1>

			<div class="col-xl-6 col-lg-10 col-md-10 col-sm-12 mt-4 input-group header-search-input">
				<div class="input-group-prepend">
					<i
						class="input-group-text fas fa-search d-flex justify-content-center rounded-0 bg-white border-0"
						id="btnGroupAddon"
					></i>
				</div>

				<input
					type="text"
					class="form-control border-0 px-0"
					placeholder="Nhập địa điểm, khu dân cư, tòa nhà"
					aria-label="Nhập địa điểm, khu dân cư, tòa nhà"
					aria-describedby="btnGroupAddon"
				/>

				<div class="input-group-prepend"><button type="button" class="btn btn-danger">Tìm kiếm</button></div>
			</div>
		</div>
	</div>
</header>
