@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '../../styles/variables';

.project-header-wrap {
	@include media-breakpoint-down(sm) {
		padding-right: 15px;
	}
}

.project-summary ul {
	@include media-breakpoint-down(sm) {
		font-size: 12px;
	}
}

.width1140 {
	max-width: 1140px;
	margin: 0 auto;
	position: relative;
	clear: both;
}

.no-padding-right {
	padding-right: 0;
}

.background-gray {
	background-color: gray;
	height: 300px;
	border-right: solid 1px blue;
}

.navbar-project {
	padding: 8px 16px 0px 0px;
}

.info-sticky-header {
	padding-left: 30px;
	margin-top: 5px;
	float: left;
	font-weight: 400;
	font-size: 16px;
	a {
		color: rgb(68, 76, 89);
		padding: 8px 0px 8px 0px;
		margin-right: 16px;
		&:hover {
			color: #c72528;
			text-decoration: none;
		}
		&.active {
			font-weight: 600;
			padding: 8px 0px 8px 0px;
			margin-right: 16px;
			border-bottom: 2px solid #c72528;
		}
	}
}

ul.info-sticky-header {
	display: flex;
	list-style: none;
}

.project-summary {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.07);
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background: white;
	z-index: 1;
}

.clear-padding {
	padding: 0;
}

#summary {
	padding-bottom: 25px;
	* {
		padding-right: 0;
	}
}

.nav-body {
	margin-top: 25px;
}

.price-per-meter {
	font-size: 16px;
	color: #c72528;
	font-weight: 600;
}

.left-item {
	color: #444c59;
	font-weight: 400;
	font-size: 15px;
	padding-right: 0;
}

.right-item {
	color: #444c59;
	font-weight: 500;
	padding-right: 0;
}

.introduce-text {
	font-family: 'Tiempos', Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: 400;
	position: relative;
	line-height: 30px;
}

.introduce-project-name {
	font-size: 14px;
	color: rgba(48, 51, 58, 0.4);
	font-family: 'harmonia', Arial, Helvetica, sans-serif;
	font-weight: 400;
	display: inline-block;
}

div.collapsed {
	height: 115px;
	overflow: hidden;
}

.read-more {
	color: #00779a;
	font-size: 14px;
	font-family: 'harmonia';
	display: block;
}

.hr-dotted {
	border-top: 1px dotted $gray;
	margin-bottom: 8px;
	margin-top: 8px;
}

.detail-utilities li {
	padding: 7px 0;
	float: left;
	width: 33.33%;
	padding-right: 10px;
}

.my-app-custom-plain-container-row {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.my-app-custom-image-row {
	cursor: pointer;
	max-width: 100%;
	max-height: 100%;
}

.more {
	background: rgba(0, 0, 0, 0.7);
	cursor: pointer;
	color: #fff;
	padding-top: 4px;
	height: auto;
	position: absolute;
	text-align: center;
	width: inherit;
}

.project-news {
	cursor: pointer;
	div p {
		height: 22px;
		overflow: hidden;
	}
}

.col-sm-6 {
	width: 50%;
}

footer .contact {
	padding: 10px;
	background: white;
	display: none;

	@include media-breakpoint-down(sm) {
		display: block;
	}
}

.buttom-phone-number {
	border-radius: 0;
}

.form-label {
	position: absolute;
	top: 3px;
	left: 20px;
	color: #999;
	cursor: text;
	transition: all 0.15s ease-in-out 0s;
}

.form-textbox,
.form-submit {
	width: 100%;
}

.form-textbox {
	margin-bottom: 25px;
}

.form-textbox:focus ~ .form-label,
.form-textbox:not([value='']) ~ .form-label {
	top: -1.5em;
	font-size: 0.8em;
	color: inherit;
	cursor: pointer;
}

.form-submit {
	background-color: #009688;
	font-weight: 700;
	color: #fff;
	transition: opacity 0.15s ease-in-out 0s;
}

.form-submit:hover {
	opacity: 0.75;
}

.margin-bottom-5 {
	margin-bottom: 5px;
}
