<ng-container *ngIf="project">
	<div class="project-wrap">
		<client-app-project-header class="project-header-wrap" [images]="images"></client-app-project-header>

		<div class="scroll project-summary">
			<div class="width1140 container">
				<div class="row">
					<ul class="info-sticky-header">
						<li><a class="active" [routerLink] [fragment]="'tong-quan'"> Tổng quan </a></li>
						<li><a [routerLink] [fragment]="'noi-khu'">Tiện ích</a></li>
						<li><a [routerLink] [fragment]="'thiet-ke'">Thiết kế</a></li>
						<li><a [routerLink] [fragment]="'phu-luc'">Phụ lục</a></li>
						<li><a [routerLink] [fragment]="'vi-tri'">Vị trí</a></li>
						<li><a [routerLink] [fragment]="'uu-dai'">Ưu đãi</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="width1140 nav-body container">
			<div class="row no-left-right-margin">
				<div class="col-md-8 no-padding" style="border-right: 1px solid gray">
					<div class="row margin-left-5">
						<div class="col-md-4">
							<div class="row">
								<div class="col-sm-6 col-md-5  left-item">Trạng thái:</div>

								<ng-container [ngSwitch]="project.statusId">
									<div class="col-sm-6 col-md-7 right-item" *ngSwitchCase="ProjectStatus.ComingSoon">
										Sắp mở bán
									</div>

									<div class="col-sm-6 col-md-7 right-item" *ngSwitchCase="ProjectStatus.Opened">
										Đang mở bán
									</div>

									<div class="col-sm-6 col-md-7 right-item" *ngSwitchCase="ProjectStatus.Closed">
										Đã bàn giao
									</div>
								</ng-container>
							</div>
						</div>
						<div class="col-md-4">
							<div class="row">
								<div class="col-sm-6 col-md-5 left-item">Chủ đầu tư:</div>
								<div class="col-sm-6 col-md-7 right-item">{{ project.invesloper.name }}</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="row">
								<div class="col-sm-6 col-md-5 left-item">Loại hình:</div>

								<ng-container [ngSwitch]="project.type">
									<div class="col-sm-6 col-md-7 right-item" *ngSwitchCase="ProjectTypes.Housing">
										Căn Hộ
									</div>
								</ng-container>
							</div>
						</div>
					</div>
					<div class="row margin-left-5">
						<div class="col-md-4">
							<div class="row">
								<div class="col-sm-6 col-md-5 left-item">Số block:</div>
								<div class="col-sm-6 col-md-7 right-item">{{ project.block }}</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="row">
								<div class="col-sm-6 col-md-5 left-item">Số tầng:</div>
								<div class="col-sm-6 col-md-7 right-item">{{ project.floor }}</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="row">
								<div class="col-sm-6 col-md-5 left-item">Số căn:</div>
								<div class="col-sm-6 col-md-7 right-item">{{ project.unit | number }}</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 no-padding">
					<div class="col-sm-12">
						Giá: <span class="price-per-meter"> {{ project.price }} tr/m2 </span>
					</div>
				</div>
			</div>
			<hr />
			<div class="row introduce-section">
				<div class="col-md-8 project-detail-wrap">
					<div id="tong-quan" class="introduce-text">
						Giới thiệu <span class="introduce-project-name"> {{ project.name }} </span>
					</div>

					<div [class.collapsed]="isCollapsed" [innerHTML]="project.introduction | safeHtml"></div>

					<div class="read-more" *ngIf="isCollapsed" (click)="isCollapsed = !isCollapsed">
						Xem thêm <i class="fas fa-angle-down"></i>
					</div>
					<div class="read-more" *ngIf="!isCollapsed" (click)="isCollapsed = !isCollapsed">
						Thu gọn <i class="fas fa-angle-up"></i>
					</div>

					<!--
						<section>
							<div class="my-app-custom-plain-container-row row no-left-right-margin">
								<ng-container *ngFor="let img of images; let i = index">
									<div class="col-md-4 no-padding" *ngIf="i < 6">
										<img *ngIf="img.modal && img.modal.img" class="my-app-custom-image-row" src="{{img.modal.img}}" (click)="openImageModalRow(img)" />
									</div>
								</ng-container>
							</div>
							<ks-modal-gallery [modalImages]="images" [plainGalleryConfig]="customPlainGalleryRowConfig"></ks-modal-gallery>
						</section>
					-->

					<client-app-custom-collapse
						[isCollapse]="false"
						[header1]="tempHeader.summary"
						[header2]="project.name"
					>
						<div class="row">
							<div class="no-padding col-md-6">
								<div class="col-md-12">
									<span class="left-item"> Thời gian xây dựng </span>
									<span class="right-item right-text">
										{{ project.startDate | date: 'dd/MM/yyyy' }}
									</span>
									<hr class="hr-dotted" />
								</div>
								<div class="col-md-12">
									<span class="left-item">Số block</span>
									<span class="right-item right-text"> {{ project.block }} </span>
									<hr class="hr-dotted" />
								</div>
								<div class="col-md-12">
									<span class="left-item">Số căn hộ</span>
									<span class="right-item right-text"> {{ project.unit | number }} </span>
									<hr class="hr-dotted" />
								</div>
								<div class="col-md-12">
									<span class="left-item"> Mật đồ xây dựng (%) </span>
									<span class="right-item right-text"> {{ project.densityOfBuilding }} </span>
									<hr class="hr-dotted" />
								</div>
								<div class="col-md-12">
									<span class="left-item">Chủ đầu tư</span>
									<a [href]="project.invesloper.url" target="_blank">
										<span class="right-item right-text"> {{ project.invesloper.name }} </span>
									</a>
									<hr class="hr-dotted" />
								</div>
							</div>
							<div class="no-padding col-md-6">
								<div class="col-md-12">
									<span class="left-item"> Thời gian giao nhà </span>
									<span class="right-item right-text">
										{{ project.handoverDate | date: 'dd/MM/yyyy' }}
									</span>
									<hr class="hr-dotted" />
								</div>
								<div class="col-md-12">
									<span class="left-item">Số tầng</span>
									<span class="right-item right-text"> {{ project.floor }} </span>
									<hr class="hr-dotted" />
								</div>
								<div class="col-md-12">
									<span class="left-item">Số penthouse</span>
									<span class="right-item right-text"> {{ project.penthouse }} </span>
									<hr class="hr-dotted" />
								</div>
								<div class="col-md-12">
									<span class="left-item"> Diện tích căn hộ </span>
									<span class="right-item right-text"> {{ project.area }} </span>
									<hr class="hr-dotted" />
								</div>
							</div>
						</div>
					</client-app-custom-collapse>
					<client-app-custom-collapse
						id="noi-khu"
						[isCollapse]="true"
						[header1]="tempHeader.internalAdvance"
						[header2]="project.name"
					>
						<div><div [innerHTML]="project.insideUtilities | safeHtml"></div></div>
					</client-app-custom-collapse>
					<client-app-custom-collapse
						id="ngoai-khu"
						[isCollapse]="true"
						[header1]="tempHeader.externalAdvance"
						[header2]="project.name"
					>
						<div [innerHTML]="project.outsideUtilities | safeHtml"></div>
					</client-app-custom-collapse>

					<client-app-custom-collapse
						id="thiet-ke"
						[isCollapse]="true"
						[header1]="tempHeader.design"
						[header2]="project.name"
					>
						<div [innerHTML]="project.design | safeHtml"></div>
					</client-app-custom-collapse>

					<client-app-custom-collapse
						id="phu-luc"
						[isCollapse]="true"
						[header1]="tempHeader.addendum"
						[header2]="project.name"
					>
						<div [innerHTML]="project.appendix | safeHtml"></div>
					</client-app-custom-collapse>
					<!--
						<client-app-custom-collapse [isCollapse]="true" [header1]="tempHeader[2]" [header2]="project.summary.name">
							<div class="row">
								<div class="col-md-4 wrapper">
									<img src="assets/img/project/Sunshine-group.png" style="width: 100%" />
								</div>
								<div class="col-md-8">
									<div [innerHTML]="
											project.summary.invesloperIntroduce
												| safeHtml
										"></div>
									<img src="assets/img/project/sunshine-product.jpg" style="width: 100%" />
								</div>
							</div>
						</client-app-custom-collapse>
					-->
					<client-app-custom-collapse
						id="vi-tri"
						[isCollapse]="false"
						[header1]="tempHeader.location"
						[header2]="project.name"
					>
						<div>
							<agm-map
								[latitude]="project.lat"
								[longitude]="project.lng"
								style="height:300px"
								[zoom]="zoom"
								[fullscreenControl]="true"
							>
								<agm-marker
									[latitude]="project.lat"
									[longitude]="project.lng"
									label="P"
									[title]="project.name"
								></agm-marker>
								<agm-circle
									[latitude]="project.lat + 0.3"
									[longitude]="project.lng"
									[radius]="5000"
									[fillColor]="'red'"
									[circleDraggable]="true"
									[editable]="true"
								></agm-circle>
							</agm-map>
							<div [innerHTML]="project.locationDescription | safeHtml"></div>
						</div>
					</client-app-custom-collapse>

					<client-app-custom-collapse
						id="uu-dai"
						[isCollapse]="true"
						[header1]="tempHeader.preference"
						[header2]="project.name"
					>
						<div [innerHTML]="project.preferential | safeHtml"></div>
					</client-app-custom-collapse>

					<hr />
				</div>
				<div class="col-md-4">
					<client-app-project-sale-information
						(openModalEvent)="openModal()"
					></client-app-project-sale-information>
				</div>
			</div>
		</div>
		<footer class="footer fixed-bottom">
			<div class="contact p-0">
				<div class="row">
					<div class="col-sm-6 no-padding">
						<a class="btn btn-danger buttom-phone-number width-100" href="tel:0909 078 566">
							<i class="fas fa-phone fa-flip-horizontal"></i> 0909 078 566
						</a>
					</div>
					<div class="col-sm-6  no-padding">
						<button
							type="button"
							class="btn btn-primary buttom-phone-number width-100"
							(click)="openModal()"
						>
							YÊU CẦU THÔNG TIN
						</button>
					</div>
				</div>
			</div>
		</footer>
	</div>

	<ng-template #modalTemplate>
		<div class="modal-header">
			<h4 class="modal-title pull-left">Hỏi thêm thông tin</h4>
			<button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>

		<div class="modal-body">
			<form (ngSubmit)="sendRequest()">
				<div class="row">
					<div class="col-sm-6">
						<input
							type="text"
							id="form-surname"
							class="form-textbox"
							name="firstName"
							[(ngModel)]="customerRequestForm.firstName"
						/>
						<label for="form-surname" class="form-label">Họ</label>
					</div>
					<div class="col-sm-6">
						<input
							type="text"
							id="form-password"
							class="form-textbox"
							name="lastName"
							required
							[(ngModel)]="customerRequestForm.lastName"
						/>
						<label for="form-password" class="form-label"> Tên * </label>
					</div>
					<div class="col-sm-12">
						<input
							type="email"
							id="form-email"
							class="form-textbox"
							name="email"
							[(ngModel)]="customerRequestForm.email"
						/>
						<label for="form-email" class="form-label"> Email * </label>
					</div>
					<div class="col-sm-12">
						<input
							type="number"
							id="form-phone"
							class="form-textbox"
							name="phone"
							required
							[(ngModel)]="customerRequestForm.phone"
						/>
						<label for="form-phone" class="form-label"> Số điện thoại </label>
					</div>
					<div class="col-sm-12">
						<textarea
							type="text"
							id="form-note"
							class="form-textbox"
							rows="2"
							name="message"
							[(ngModel)]="customerRequestForm.message"
						></textarea>
						<label for="form-note" class="form-label"> Lời nhắn </label>
					</div>
					<div class="col-sm-12">
						<input type="submit" value="Gửi thông tin" class="form-submit" />
						<div class="text-center">
							Hoặc gọi trực tiếp tới <a href="tel:0909 078 566">0909 078 566</a>
						</div>
					</div>
				</div>
			</form>
		</div>
	</ng-template>
</ng-container>
