<hr />
<div class="collapse-wrap">
	<div
		class="header-h2"
		(click)="collapse.toggle(); this.isCollapse = !this.isCollapse"
		aria-controls="collapseManual"
	>
		{{ header1 }} <span class="place-viral">{{ header2 }}</span>
		<a class="text-right" style="float:right">
			<i [ngClass]="isCollapse == false ? 'fas fa-angle-down' : 'fas fa-angle-up'"></i>
		</a>
	</div>

	<div id="collapseManual" #collapse="bs-collapse" [collapse]="isCollapse" class="row">
		<div class="col-md-12"><ng-content></ng-content></div>
	</div>
</div>
