<form [formGroup]="invlopForm" *ngIf="invlopForm" (submit)="saveInvesloper()">
	<mat-card>
		<mat-card-header>
			<mat-card-title>{{ title }}</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<div class="container-fluid">
				<div class="row py-2">
					<mat-form-field class="col-12">
						<input matInput placeholder="Tên chủ đầu tư" [formControlName]="'name'" required />
						<mat-error>Tên chủ đầu tư là bắt buộc</mat-error>
					</mat-form-field>
				</div>

				<div class="row py-2">
					<mat-form-field class="col-12">
						<input matInput placeholder="Website" [formControlName]="'url'" required />
						<mat-error>Website chủ đầu tư là bắt buộc</mat-error>
						<mat-hint align="end">Trang web của chủ đầu tư</mat-hint>
					</mat-form-field>
				</div>

				<div class="row py-2">
					<mat-form-field class="col-12 no-padding-bot">
						<admin-app-tinymce matInput placeholder="Ghi chú" [formControlName]="'description'" required>
						</admin-app-tinymce>
						<mat-error>Ghi chú là bắt buộc</mat-error>
					</mat-form-field>
				</div>
			</div>
		</mat-card-content>
		<mat-card-actions>
			<div class="container-fluid d-flex justify-content-end">
				<button mat-raised-button color="primary">Lưu</button>
			</div>
		</mat-card-actions>
	</mat-card>
</form>
