<div class="py-2">
	<button mat-raised-button color="accent" (click)="addNew()"><i class="fas fa-plus"></i>Thêm mới</button>
</div>

<app-mat-table [settings]="invesloperTableSetting" [dataSource]="invesloperDataSource" matSort></app-mat-table>
