<form [formGroup]="formGroup">
	<div class="container-fluid py-4">
		<div class="row py-2">
			<mat-form-field class="col-12 no-padding-bot">
				<admin-app-tinymce
					matInput
					placeholder="Giới thiệu"
					[formControlName]="'introduction'"
					[focusOnInit]="true"
				>
				</admin-app-tinymce>
				<mat-error [formControlName]="'introduction'" [translate]="{ fieldName: 'Giới thiệu' }"></mat-error>
			</mat-form-field>
		</div>
	</div>
</form>
