<div class="py-2">
	<button mat-raised-button color="accent" (click)="addNew()"><i class="fas fa-plus"></i> Thêm mới</button>
</div>
<app-mat-table [settings]="pictureTableSetting" [dataSource]="pictureDataSourceTableSv" matSort>
	<ng-container matColumnDef="image">
		<mat-header-cell *matHeaderCellDef mat-sort-header>Hình ảnh</mat-header-cell>
		<mat-cell *matCellDef="let data">
			<img src="{{getThumbnaiImage(data.thumbnailName)}}" height="100" />
		</mat-cell>
	</ng-container>
</app-mat-table>
