<ng-container *ngIf="(layoutService.layoutStyle$ | async) != LayoutStyle.None">
	<client-app-main-header
		*ngIf="(layoutService.layoutStyle$ | async) == LayoutStyle.HomePage; else: other"
	></client-app-main-header>

	<ng-template #other> <client-app-sub-header></client-app-sub-header> </ng-template>

	<div class="main-content"><ng-content></ng-content></div>

	<client-app-footer></client-app-footer>
</ng-container>
