<p>
	Dự &aacute;n Sunshine City S&agrave;i G&ograve;n nằm tr&ecirc;n mặt tiền
	đường Ph&uacute; Thuận, liền kề phố t&agrave;i ch&iacute;nh Ph&uacute; Mỹ
	Hưng sầm uất. Dự &aacute;n được thừa hưởng cơ sở hạ tầng ho&agrave;n thiện
	c&ugrave;ng c&aacute;c tiện &iacute;ch hiện hữu xung quanh.
</p>
<p>
	<strong>Sunshine City S&agrave;i G&ograve;n</strong>&nbsp;sở hữu vị
	tr&iacute; địa lợi khi xung quanh đều tiếp gi&aacute;p với c&aacute;c tuyến
	đường ch&iacute;nh của Ph&uacute; Mỹ Hưng. B&ecirc;n cạnh dự &aacute;n
	l&agrave; con s&ocirc;ng Cả Cấm tho&aacute;ng đ&atilde;ng, m&aacute;t mẻ,
	tầm nh&igrave;n hướng ra ngo&agrave;i cực đẹp c&oacute; thể ngắm nh&igrave;n
	to&agrave;n khu Ph&uacute; Mỹ Hưng từ tr&ecirc;n cao.<br />
	Xung quanh dự &aacute;n l&agrave; c&aacute;c tuyến đường huyết mạch của Quận
	7 như: Nguyễn Lương Bằng, Nguyễn Văn Linh, Huỳnh Tấn Ph&aacute;t, Nguyễn Hữu
	Thọ,&hellip;Từ vị tr&iacute;&nbsp;<strong
		>dự &aacute;n Sunshine City S&agrave;i G&ograve;n&nbsp;</strong
	>c&oacute; thể hướng tầm nh&igrave;n đến những khu tuyệt đẹp:<br />
	&ndash; Ph&iacute;a Bắc : view hướng cầu Ph&uacute; Mỹ, Đại lộ Nguyễn Văn
	Linh, khu d&acirc;n cư cao cấp hiện hữu.<br />
	&ndash; Ph&iacute;a Đ&ocirc;ng: view hướng đường Huỳnh Tấn Ph&aacute;t, cầu
	Ph&uacute; Mỹ, khu d&acirc;n cư cao cấp hiện hữu
</p>
<p>
	&ndash; Ph&iacute;a Nam: view hướng khu biệt thự Ph&uacute; Mỹ Hưng, trường
	Quốc tế, đường Nguyễn Lương Bằng, khu d&acirc;n cư cao cấp hiện hữu<br />
	&ndash; Ph&iacute;a T&acirc;y : view to&agrave;n khu Đ&ocirc; thị Ph&uacute;
	Mỹ Hưng, Trung t&acirc;m thương mại Paragon, khu d&acirc;n cư cao cấp hiện
	hữu,&hellip;.
</p>
<p>&nbsp;</p>
<h5 style="color:red">TIỆN ÍCH NỘI KHU CĂN HỘ SUNSHINE CITY SÀI GÒN</h5>
<p>
	<strong>Dự &aacute;n căn hộ Sunshine City</strong>&nbsp;sẽ c&oacute; thiết
	kế những tầng hầm ri&ecirc;ng cho mọi người giữ xe với hệ thống an ninh
	cao.<br />
	Khu vực đại sảnh của căn hộ sẽ c&oacute; quầy lễ t&acirc;n với những
	chuy&ecirc;n vi&ecirc;n tư vấn sẵn s&agrave;ng phục vụ v&agrave; hướng dẫn
	cho mọi cư d&acirc;n. Ngo&agrave;i ra, ở đại sảnh c&ograve;n c&oacute; khu
	vực tiếp kh&aacute;ch sang trọng mọi người c&oacute; thể tr&ograve; chuyện
	c&ugrave;ng bạn b&egrave; v&agrave; người th&acirc;n ngay tại khu vực tiếp
	kh&aacute;ch của&nbsp;<strong>căn hộ Sunshine City</strong>.
</p>

<p><img src="assets/img/project/noikhu1.jpg" style="width:100%" /></p>

<p>
	Đồng thời trong khu vực nội khu&nbsp;<strong
		>căn hộ Sunshine City&nbsp;</strong
	>sẽ được thiết kế v&agrave; x&acirc;y dựng nhiều tiện &iacute;ch cực kỳ sang
	trọng &amp; đẳng cấp phục vụ tốt nhu cầu cho mọi cư d&acirc;n. Một
	v&agrave;i tiện &iacute;ch nội khu cao cấp trong căn hộ như :
</p>
<ul>
	<li>
		Trung t&acirc;m mua sắm &ndash; thương mại với những mặt h&agrave;ng
		chất lượng v&agrave; cao cấp
	</li>
	<li>Trường mầm non &ndash; khu vui chơi d&agrave;nh cho trẻ nhỏ</li>
	<li>
		Nh&agrave; h&agrave;ng &ndash; qu&aacute;n ăn với những m&oacute;n ăn
		đạt ti&ecirc;u chuẩn nh&agrave; h&agrave;ng 5 sao
	</li>
	<li>
		Hồ bơi tr&agrave;n bờ hiện đại, tại đ&acirc;y cư d&acirc;n c&oacute; thể
		thư gi&atilde;n v&agrave; ngắm phong cảnh cực kỳ tuyệt đẹp
	</li>
	<li>
		Ph&ograve;ng tập Yoga &ndash; Ph&ograve;ng Gym nơi cư d&acirc;n
		c&oacute; thể r&egrave;n luyện sức khỏe tốt nhất
	</li>
	<li>
		Ph&ograve;ng tr&agrave; &ndash; Ph&ograve;ng sinh hoạt cộng đồng : nơi
		cư d&acirc;n t&acirc;m sự v&agrave; t&aacute;n gẫu c&ugrave;ng bạn
		b&egrave; v&agrave; người than
	</li>
	<li>Khu BBQ, qu&aacute;n caf&eacute;, &hellip;</li>
</ul>
<p>
	Với diện t&iacute;ch lớn d&agrave;nh cho kh&ocirc;ng gian cảnh quan
	v&agrave; tiện &iacute;ch, Sunshine City S&agrave;i G&ograve;n l&agrave; xứ
	sở của&nbsp; cuộc sống hiện đại, dẫn đầu xu hướng tương lai: s&acirc;n chơi
	trẻ em, s&acirc;n tập thể thao, bể bơi v&ocirc; cực, th&aacute;c tr&agrave;n
	nghệ thuật, cafe, bar &amp; ngo&agrave;i trời, Rooftop City Bar, Đường dạo
	phố, vườn c&acirc;y, vườn nướng BBQ, cầu đi bộ li&ecirc;n t&ograve;a,...
</p>
<p>
	Một điểm nhấn quan trọng của căn hộ Sunshine City Quận 7 l&agrave; c&oacute;
	hồ bơi tr&atilde;i d&agrave;i theo c&aacute;c t&ograve;a căn hộ, th&aacute;c
	nước đổ xuống từ tầng 4.
</p>
<p>&nbsp;</p>
<h5 style="color:red">TIỆN ÍCH NGOẠI KHU CĂN HỘ SUNSHINE CITY SÀI GÒN</h5>

<p>
	<strong>Căn hộ SunshineCity</strong>&nbsp;l&agrave; 1 trong những &ldquo;dự
	&aacute;n v&agrave;ng&rdquo; nằm ngay vị tr&iacute; đắc địa nhất khu vực
	quận 7,Tp.HCM. Tại đ&acirc;y c&oacute; hệ thống giao th&ocirc;ng cực kỳ
	thuận tiện, kết nối nhiều tuyến đường quan trọng gi&uacute;p lưu th&ocirc;ng
	dễ d&agrave;ng đến những khu vực trung t&acirc;m th&agrave;nh phố như quận
	4, quận 2 , quận 1, chợ Bến Th&agrave;nh,&hellip;<br />
</p>
<p>
	Xung quanh khu vực&nbsp;<strong>dự &aacute;n SunshineCity&nbsp;</strong
	>l&agrave; cả 1 hệ thống tiện &iacute;ch đa dạng như khu trung t&acirc;m mua
	sắm CoopMark, Vivo City, Lotte Mart,&hellip; chỉ cần di chuyển chưa đầy 10
	ph&uacute;t cư d&acirc;n Sunshine City đ&atilde; c&oacute; thể đến được
	những địa điểm tr&ecirc;n.
</p>
<p>
	Tập trung hệ thống trường học đạt chuẩn quốc tế như ĐH T&ocirc;n Đức Thằng,
	ĐH RMIT, ĐH Nguyễn Tất Th&agrave;nh, ĐH T&agrave;i ch&iacute;nh marketing
	quận 7,&hellip;<br />
	<br />
	Đ&acirc;y cũng l&agrave; nơi c&oacute; hệ thống chăm s&oacute;c sức khỏe cực
	kỳ tốt với nhiều bệnh viện đa dạng như bệnh viện FV, bệnh viện đa khoa
	T&acirc;n Hưng, trung t&acirc;m y tế quận 7,&hellip;<br />
	Đặc biệt, từ&nbsp;<strong>vị tr&iacute; căn hộ Sunshine City</strong
	>&nbsp;cư d&acirc;n chỉ cần di chuyển chưa đầy 5 ph&uacute;t đ&atilde;
	c&oacute; thể v&agrave;o được khu đ&ocirc; thị Ph&uacute; Mỹ Hưng, đ&acirc;y
	l&agrave; khu vực sầm uất nhất tại quận 7 với hệ thống tiện &iacute;ch đẳng
	cấp 5 sao. Nhờ vậy m&agrave; cư d&acirc;n tại Sunshine City c&oacute; thể
	thừa hưởng được những tiện &iacute;ch ngoại khu tuyệt vời nằm liền kề ngay
	khu vực dự &aacute;n.
</p>
<p>
	C&oacute; thể n&oacute;i, khi sinh sống tại&nbsp;<strong
		>căn hộ Sunshine City quận 7</strong
	>&nbsp;mọi người sẽ được tận hưởng cuộc sống hiện đại v&agrave; ho&agrave;n
	hảo nhất. Sunshine City sở hữu mọi tiện &iacute;ch đẳng cấp ho&agrave;n
	to&agrave;n c&oacute; thể đ&aacute;p ứng mọi ngu cầu sinh hoạt v&agrave;
	giải tr&iacute; cho mọi người. Đ&acirc;y sẽ l&agrave; nơi &ldquo;an cư lập
	nghiệp&rdquo;, l&agrave; nơi nghỉ dưỡng v&agrave; thư gi&atilde;n tốt nhất
	m&agrave; mọi người hằng mong đợi.
</p>

<p><img src="assets/img/project/ngoaikhu.jpg" style="width:100%" /></p>
<p>&nbsp;</p>
<h5 style="color:red">THIẾT KẾ CĂN HỘ SUNSHINE CITY SÀI GÒN</h5>
<p>
	Căn hộ 2 ph&ograve;ng ngủ : sẽ c&oacute; diện t&iacute;ch từ 69 &ndash; 84m2
</p>
<p>
	Căn hộ 3 ph&ograve;ng ngủ : sẽ c&oacute; diện t&iacute;ch từ 102 &ndash;
	103m2
</p>
<p>
	Căn hộ 4 ph&ograve;ng ngủ : sẽ c&oacute; diện t&iacute;ch từ 130m2<br />
	Penhouse : sẽ c&oacute; diện t&iacute;ch từ 150m2 trở l&ecirc;n, tại
	đ&acirc;y sẽ c&oacute; mảng kh&ocirc;ng gian xanh v&agrave; s&acirc;n vườn
	rộng lớn
</p>
<p>
	<strong>Dự &aacute;n Sunshine City</strong> được thiết kế theo hướng hiện
	đại lấy cảm hứng từ c&aacute;c t&ograve;a nh&agrave; b&ecirc;n s&ocirc;ng
	tr&ecirc;n thế giới như
	<strong>London, Paris,&hellip;với kiến tr&uacute;c Facede</strong>
	<strong>hệ thống k&iacute;nh Low E</strong> giải ph&aacute;p tối ưu chống
	tiếng ồn v&agrave; bức xạ nhiệt.
</p>
<p>&nbsp;</p>
<h5 style="color:red">
	ỨNG DỤNG CÔNG NGHỆ 4.0 TẠI CĂN HỘ SUNSHINE CITY QUẬN 7
</h5>

<p><img src="assets/img/project/tech4.0.jpg" style="width:100%" /></p>
<p><strong>An ninh đa lớp 24/7</strong></p>
<ul>
	<li>
		Trang bị hệ thống camera an ninh mọi nơi trong t&ograve;a nh&agrave;
		ngo&agrave;i s&acirc;n.
	</li>
	<li>
		Trang bị hệ thống camera nhận diện khu&ocirc;n mặt Face ID tại
		c&aacute;c lối v&agrave;o t&ograve;a nh&agrave; để nhận biết cư
		d&acirc;n hoặc kh&ocirc;ng phải cư d&acirc;n ra v&agrave;o t&ograve;a
		nh&agrave;.
	</li>
	<li>
		Trung t&acirc;m kiểm so&aacute;t an ninh căn hộ sẽ kiểm so&aacute;t
		ng&agrave;y đ&ecirc;m hoạt động trong dự &aacute;n..
	</li>
	<li>
		<strong
			>Thiết lập hệ thống b&aacute;o ch&aacute;y v&agrave; chữa
			ch&aacute;y tự động khắp tầng hầm v&agrave; h&agrave;nh lang</strong
		>
	</li>
	<li>
		Đ&acirc;y l&agrave; hệ thống b&aacute;o ch&aacute;y v&agrave; chữa
		ch&aacute;y hiện đại h&agrave;ng đầu Việt Nam. Trang bị hệ thống
		v&ograve;i phun nước tự động khi ph&aacute;t hiện c&oacute; ch&aacute;y
		để dập lửa. Ngo&agrave;i ra, cảm biến ch&aacute;y được thợ lắp đặt khắp
		tầng hầm v&agrave; h&agrave;nh lang của từng căn hộ để cư d&acirc;n
		ph&aacute;t hiện ch&aacute;y v&agrave; kh&oacute;i kịp thời.
	</li>
	<li>
		Đặc biệt, ngo&agrave;i hệ thống th&ocirc;ng b&aacute;o c&oacute;
		ch&aacute;y qua chu&ocirc;ng hoặc loa của t&ograve;a nh&agrave;, chủ đầu
		tư Sunshine Group c&ograve;n lắp đặt hệ thống th&ocirc;ng qua thiết bị
		điện thoại của cư d&acirc;n. Thậm ch&iacute; tr&ecirc;n ứng dụng
		c&ograve;n chỉ dẫn c&aacute;ch tho&aacute;t nạn khẩn cấp. Điều
		n&agrave;y chứng tỏ c&aacute;i t&acirc;m v&agrave; c&aacute;i tầm của
		Chủ đầu tư dự &aacute;n Sunshine City Quận 7.
	</li>
	<li>
		<strong
			>Hệ thống kiểm so&aacute;t an ninh trong thang m&aacute;y</strong
		>
	</li>
	<li>
		Tại căn hộ, tất cả c&aacute;c cư d&acirc;n đều sử dụng thẻ cư d&acirc;n
		để di chuyển l&ecirc;n xuống thang m&aacute;y. Ngo&agrave;i ra, thang
		m&aacute;y c&ograve;n được c&agrave;i đặt chế độ bảo mật cao, chỉ cư
		d&acirc;n tại chung cư mới c&oacute; quyền sử dụng v&agrave; chỉ cho
		ph&eacute;p cư d&acirc;n đi l&ecirc;n đ&uacute;ng tầng căn hộ của
		m&igrave;nh
	</li>
</ul>

<p><img src="assets/img/project/card.jpg" style="width:100%" /></p>

<ul>
	<li>
		B&ecirc;n cạnh đ&oacute;, mỗi căn hộ Sunshine City được lắp đặt đồng hồ
		nước th&ocirc;ng minh, dữ liệu của đồng hồ nước sẽ được cập nhật thời
		gian thực qua ứng dụng di động. Mọi cư d&acirc;n gi&aacute;m s&aacute;t
		lượng nước ti&ecirc;u thụ li&ecirc;n tục v&agrave; chủ động sử dụng tiết
		kiệm nước. Biểu đồ so s&aacute;nh v&agrave; thống k&ecirc; lượng nước sử
		dụng theo giờ/ng&agrave;y/th&aacute;ng.
	</li>
	<li>
		Đối với đồng hồ điện th&ocirc;ng minh, chủ nh&agrave; c&oacute; thể
		gi&aacute;m s&aacute;t lượng điện ti&ecirc;u thụ, chủ động tiết kiệm
		điện, so s&aacute;nh lượng điện ti&ecirc;u thụ trong c&aacute;c giờ
		trong ng&agrave;y, trong tuần, trong th&aacute;ng.
	</li>
	<li>
		Ngo&agrave;i ra, c&aacute;c thiết bị kh&aacute;c c&oacute; thể điều
		khiển bằng giọng n&oacute;i khi trang bị th&ecirc;m loa th&ocirc;ng minh
		của Google hoặc Amazon.
	</li>
</ul>
<p><img src="assets/img/project/2in1.jpg" style="width:100%" /></p>
<p><strong>Sử dụng thẻ cư d&acirc;n 2 trong 1</strong></p>
<p>
	T&iacute;ch hợp 2 chức năng với nhiều tiện &iacute;ch chỉ c&oacute; ở
	Sunshine Group. Đ&acirc;y l&agrave; thẻ cư d&acirc;n cũng vừa l&agrave; thẻ
	Visa ng&acirc;n h&agrave;ng:
</p>
<ul>
	<li>Mua sắm v&agrave; r&uacute;t tiền tr&ecirc;n to&agrave;n cầu</li>
	<li>
		Gọi thang m&aacute;y, mở cửa nh&agrave;, gửi xe, t&iacute;ch điểm mua
		sắm, ra v&agrave;o bể bơi, thư viện,&hellip;
	</li>
	<li><strong>Kh&oacute;a cửa th&ocirc;ng minh</strong></li>
</ul>
<p>
	Chủ nh&agrave; c&oacute; thể mở - kh&oacute;a cửa bằng thẻ cư d&acirc;n,
	m&atilde; số b&iacute; mật hoặc v&acirc;n tay.
</p>
<ul>
	<li>
		<strong
			>Chu&ocirc;ng h&igrave;nh trong thang bộ v&agrave; sảnh thang
			m&aacute;y</strong
		>
	</li>
	<li>
		Chu&ocirc;ng h&igrave;nh ( gọi l&agrave; Lobbyphone) được lắp đặt tại
		cửa thang m&aacute;y ở tầng 1 v&agrave; c&aacute;c tầng hầm của
		c&aacute;c căn hộ. Chủ nh&agrave; c&oacute; thể đ&oacute;n kh&aacute;ch
		đến chơi khi đ&agrave;m thoại qua lobbyphone.
	</li>
	<li>
		Ngo&agrave;i ra, khi bấm n&uacute;t chu&ocirc;ng ph&iacute;a
		ngo&agrave;i căn hộ cho ph&eacute;p chủ nh&agrave; nh&igrave;n thấy
		h&igrave;nh ảnh ai đang bấm chu&ocirc;ng.
	</li>
	<li><strong>B&atilde;i đổ xe th&ocirc;ng minh</strong></li>
	<li>
		B&atilde;i đổ xe th&ocirc;ng minh h&agrave;ng đầu Việt Nam chỉ c&oacute;
		tại Sunshine City.
	</li>
	<li>
		Hệ thống dẫn đường, th&ocirc;ng b&aacute;o chỗ trống v&agrave; đặt trước
		vị tr&iacute; đỗ.
	</li>
	<li>
		Hệ thống t&igrave;m kiếm xe trong b&atilde;i đổ xe th&ocirc;ng qua ứng
		dụng di động: chỉ cần nhập biển số xe sẽ hiển thị ngay vị tr&iacute; xe
		đang đỗ v&agrave; chỉ dẫn t&igrave;m xe.
	</li>
	<li>
		Kh&aacute;ch h&agrave;ng kh&ocirc;ng phải cư d&acirc;n c&oacute; thể
		thanh to&aacute;n ph&iacute; gửi xe th&ocirc;ng qua ứng dụng di động
		v&agrave; m&atilde; QR.
	</li>
	<li><strong>Ứng dụng (APP) tr&ecirc;n thiết bị di động</strong></li>
	<li>
		Cho ph&eacute;p trao đổi với ban quản l&yacute; căn hộ về mọi vấn đề
	</li>
	<li>
		Giải ph&aacute;p tức thời từ ban quản l&yacute; kh&ocirc;ng qu&aacute; 1
		ph&uacute;t
	</li>
	<li>
		Gọi c&aacute;c dịch vụ giặt l&agrave;, vệ sinh, sửa chữa, mua sắm,
		t&iacute;ch điểm,..
	</li>
	<li>Đăng k&yacute; thẻ cư d&acirc;n, quản l&yacute; điểm mua sắm</li>
	<li>Thanh to&aacute;n h&oacute;a đơn h&agrave;ng th&aacute;ng</li>
	<li>
		Gọi xe đưa đ&oacute;n hạng sang Sunshine Cab ( đội xe đưa đ&oacute;n của
		chủ đầu tư)
	</li>
	<li>V&iacute; điện tử Sunshine Pay</li>
	<li>
		Thanh to&aacute;n tiện lợi kh&ocirc;ng d&ugrave;ng tiền mặt th&ocirc;ng
		qua m&atilde; QR Code, v&iacute; điện tử Sunshine Pay.
	</li>
</ul>
<p>
	<strong>Sunshine City</strong> kh&ocirc;ng chỉ thu h&uacute;t bởi tọa lạc
	tại vị tr&iacute;&nbsp; kim cương m&agrave; ngay cả thiết kế v&agrave;
	kh&ocirc;ng gian sống ho&agrave;ng kim cũng thật sự l&agrave;m cho
	c&aacute;c cư d&acirc;n tương lai n&oacute;ng l&ograve;ng muốn c&oacute;
	được.
</p>
<p>&nbsp;</p>
<h5 style="color:red">CHÍNH SÁCH DÀNH CHO KHÁCH HÀNG MUA CĂN HỘ</h5>
<p>
	<strong
		>- . Kh&aacute;ch thanh to&aacute;n 30% k&iacute; HĐMB, CĐT hỗ trợ
		l&atilde;i cho 65% gi&aacute; trị căn hộ bao gồm VAT trong 18
		th&aacute;ng</strong
	>
</p>
<p>
	<strong
		>-&nbsp; Nếu kh&aacute;ch muốn tt ngay 50% khi k&iacute; HĐMB : ck
		4%</strong
	>
</p>
<p>
	<strong
		>-&nbsp; Nếu kh&aacute;ch muốn tt ngay 70% khi k&iacute; HĐMB : ck
		6%</strong
	>
</p>
<p>
	<strong
		>-&nbsp; Nếu kh&aacute;ch muốn tt ngay 95% khi k&iacute; HĐMB : ck
		10%</strong
	>
</p>
<p>
	<strong
		>-&nbsp; Nếu kh&aacute;ch kh&ocirc;ng d&ugrave;ng chương tr&igrave;nh hỗ
		trợ vay từ CĐT : ck 3%</strong
	>
</p>
